@import 'common';
@import 'gallery';
@import 'base';

.site-header {
  margin-bottom: 40px;
  padding: 0 40px;
}

.site-footer {
  @include app-spacing;

  .copyright-footer {
    float: left;
    margin: 25px 0;
  }

  .contact-footer {
    float: right;

    a {
      padding: 5px;
      font-size: 2.5em;
      margin-left: 20px;
    }
  }
}

.view-container {
  padding: 0 40px;
}

.container {
  position: relative;
  border-bottom: 1px solid #ebebeb;
  text-align: center;
  @include app-spacing;
}

.container:after {
  content: '';
  display: block;
  clear: both;
}

.contact-page {
  text-align: left;
  .contact-grid {
    display: grid;
    // grid-gap: 20px;
    grid-template-columns: 20% 20% 60%;

      .contact-info {
        grid-column: 1 / 3;
        grid-row: 1;
      }

      .left-contact-info {
        grid-column: 1;
        grid-row: 2 ;
      }

      .right-contact-info {
        grid-column: 2 ;
        grid-row: 2 ;
      }

      a {
        padding-bottom: 20px;
        display: inline-block;

        i.fa {
          transition: unset;
          font-size: 2.4em;
          width: 40px;
          height: 40px;
          text-align: center;
          vertical-align: middle;
        }

        span {
          transition: unset;
          font-size: 1.7em;
          text-align: center;
          vertical-align: middle;
          margin-left: 20px;
        }
      }

    .app-info {
      grid-column: 3 ;
      grid-row: 1 / 3;
    }
  }
}

#logo {
  font-family: RofiTaste;
  font-size: 6em;
  color: $light-blue;
  letter-spacing: 0;
}

.show {
	display: block !important;
}

.main-menu {
    ul {
      display: inline-block;

      li {
        margin: 0;
        float: left;
        list-style: none;
      }

      li:not(:last-child):after {
        margin: 0 30px;
        display: inline-block;
        content: '-';
        color: $grey;
      }

      a {
        font-size: 22px;
        line-height: 1.15;
      }

      .active {
        color: $blue;
      }
    }
}

.about-side {
  width: 60%;
  float: right;
  text-align: left;
}

.self-pic {
  float: left;
  border-radius: 50%;
  max-width: 350px;
  width: 35%;
}

.art-column-left {
  width: 35%;
  float: left;
  text-align: left;
}

.art-column-right {
  float: right;
  width: 60%;
  height: auto;
}