@import 'common';
@import 'gallery';
@import 'base';

.site-header {
  margin-bottom: 40px;
  padding: 0 40px;
  text-align: center;
}

.site-footer {
  @include app-spacing;

  .copyright-footer {
    float: left;
    width: 100%;
    text-align: center;
  }

  .contact-footer {
    float: right;
    width: 100%;
    text-align: center;

    a {
      padding: 5px;
      font-size: 2.5em;
      margin-left: 20px;
      text-decoration: none;
    }
  }
}

.view-container, .site-footer {
  padding: 0 40px;
}

.container {
  position: relative;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 40px;
  @include app-spacing;
}

.container:after {
  content: '';
  display: block;
  clear: both;
}

.contact-page {
  text-align: left;

  .contact-grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 50% 50%;

      .contact-info {
        grid-column: 1 / 3;
        grid-row: 1;
      }

      .left-contact-info {
        grid-column: 1;
        grid-row: 2;
      }

      .right-contact-info {
        grid-column: 2;
        grid-row: 2;
      }

      .left-contact-info, .right-contact-info {
        a {
          padding-bottom: 20px;
          display: inline-block;
          text-decoration: none;
          width: 100%;
        }
      }

      a {
        i.fa {
          transition: unset;
          font-size: 2.4em;
          width: 40px;
          height: 40px;
          text-align: center;
          vertical-align: middle;
        }

        span {
          transition: unset;
          font-size: 1.7em;
          text-align: center;
          vertical-align: middle;
          margin-left: 16px;
        }
      }

    .app-info {
      grid-column: 1/3;
      grid-row: 3;
    }
  }
}

#logo {
  font-family: RofiTaste;
  font-size: 6em;
  color: $light-blue;
  letter-spacing: 0;
  line-height: 0.75;
}

.show {
  display: block !important;
}

.about-side {
  width: 100%;
  float: right;
  text-align: left;
}

.home-header {
  padding-top: 20px;
  text-align: center;
}

.self-pic {
  float: left;
  border-radius: 3px;
  width: 100%;
  filter: hue-rotate(340deg);
}

.art-column-left {
  width: 35%;
  float: left;
  text-align: left;
  width: 100%;
}

.art-column-right {
  float: right;
  width: 60%;
  height: auto;
  width: 100%;
}

.contact-cover {
  width: 100%;
  height: 330px;
  background-repeat: no-repeat;
  border-radius: 3px;
  background: url(../img/cover.jpg) right center no-repeat;
  background-size: cover;
  -webkit-filter: brightness(1.6);
  filter: brightness(1.6);
  margin-bottom: 40px;

  &:before {
    content: '';
    background: -webkit-linear-gradient(to right, #89253e, #616283);
    background: linear-gradient(to right, #89253e, #616283);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0.4;
    height: inherit;
    border-radius: inherit;
  }
}

.container.work-page {
  h3 {
    margin-bottom: 40px;
    text-align: center;
  }

  .showcase {
    min-height: 200px;
    display: flow-root;


    .work-image-links {
      width: 100%;
      float: left;

      img {
        width: 100%;
        border-radius: 3px;
        filter: grayscale(60%);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

        &:hover {
          filter: none;
        }
      }

      .work-links {
        padding-right: 20px;
        padding-left: 20px;
        text-align: center;

        li {
          display: inline-block;
          padding-right: 10px;
        }
      }
    }

    .work-description {
      width: 100%;
      float: right;

      h4 {
        text-align: center;
      }
    }
    &:not(:last-child) {
      border-bottom: 1px solid #ebebeb;
      padding-bottom: 40px;
      margin-bottom: 40px;
    }
  }
}

.nodejs, .heroku {
  p {
    float: left;
    margin-right: 20px;
    margin-top: 30px;
  }

  img {    
    width: 200px;
    margin-bottom: 10px;
  }
}

.heroku img {
  margin-top: 10px;
}

.main-menu {
  display: block;

  ul {
    max-height: 0px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: block;

    li {
      float: none;
      padding: 10px;
    }

    a {
      font-size: 22px;
      line-height: 1.15;
      text-decoration: none;
    }

    .active {
      color: $blue;
    }
  }
}

.mobile-nav {
  width: 150px;
  height: 45px;
  margin-top: 50px;
  display: inline-block;

  i {
    padding-right: 10px;
  }
}

.main-menu .expand {
  max-height: 400px;
}

/* Tablet */
@media (min-width: 768px) {
  #logo {
    line-height: 1.5;
  }

  .mobile-nav {
    display: none;
  }

  .main-menu ul {
    max-height: 200px;
    margin: 0;
    margin-top: 30px;
    display: inline-block;

    li {
      margin: 0;
      float: left;
      list-style: none;
      padding: 0;
    }

    li:not(:last-child):after {
      margin: 0 15px;
      display: inline-block;
      content: '-';
      color: $grey;
    }
  }

  .self-pic {
    width: 35%;
  }

  .home-header {
    padding-top: 0;
    text-align: left;
  }

  .about-side, .art-column-right {
    width: 60%;
  }

  .art-column-left {
    width: 35%;
  }

  .contact-page .contact-grid {
    grid-template-columns: 24% 24% 50%;

    .contact-info {
      grid-column: 1 / 3;
      grid-row: 1;
    }

    .left-contact-info {
      grid-column: 1;
      grid-row: 2;
    }

    .right-contact-info {
      grid-column: 2;
      grid-row: 2;
    }

    .app-info {
      grid-column: 3;
      grid-row: 1 / 3;
      margin-left: 30px;
    }
  }

  .site-footer {
    .copyright-footer {
      margin: 25px 0;
      width: 50%;
      text-align: left;
    }

    .contact-footer {
      width: 50%;
      text-align: right;
    }
  }

  .container.work-page .showcase {
    .work-image-links {
      width: 30%;
    }

    .work-description {
      width: 65%;

      h4 {
        text-align: left;
      }
    }
  }

  .work-page h3 {
    text-align: left;
  }
}

/* Desktop */
@media (min-width: 992px) {
  .main-menu ul li:not(:last-child):after {
    margin: 0 30px;
  }
}
