$white: #FFFFFF;
$grey: #CACAD5;
$light-blue: #545684;
$blue: #374A67;
$dark-blue: #151E3F;
$black: #030027;

@mixin app-spacing {
	margin: 0 auto 40px auto;
  	max-width: 1200px;
  	padding-bottom: 40px;
}