@import 'common';

.art-gallery {
  ul {
    padding: 0;

    li {
      display: inline-block;
      width: 50%;

      a {
        display: flex;
        overflow: hidden;
        position: relative;
        margin: 5px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.2);

        img {
          -webkit-transition: -webkit-transform 0.15s ease 0s;
          -moz-transition: -moz-transform 0.15s ease 0s;
          -o-transition: -o-transform 0.15s ease 0s;
          transition: transform 0.15s ease 0s;
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
          height: 100%;
          width: 100%;
        }

        .art-gallery-poster {
          bottom: 0;
          left: 0;
          right: 0;
          top: 0;
          position: absolute;
          -webkit-transition: background-color 0.15s ease 0s;
          -o-transition: background-color 0.15s ease 0s;
          transition: background-color 0.15s ease 0s;

          h4 {
            opacity: 0;
            margin: 0;
            position: absolute;
            left: 10px;
            bottom: 10px;
            -webkit-transition: opacity 0.3s ease 0s;
            -o-transition: opacity 0.3s ease 0s;
            transition: opacity 0.3s ease 0s;
            color: $dark-blue;
          }
        }
      }

      a:hover {
        img {
          -webkit-transform: scale3d(1.1, 1.1, 1.1);
          transform: scale3d(1.1, 1.1, 1.1);
        }
        .art-gallery-poster {
          background: rgba(255,255,255,0.7); /* For browsers that do not support gradients */
          background: -webkit-linear-gradient(bottom,rgba(255,255,255,0),rgba(255,255,255,0.7)); /*Safari 5.1-6*/
          background: -o-linear-gradient(bottom,rgba(255,255,255,0),rgba(255,255,255,0.7)); /*Opera 11.1-12*/
          background: -moz-linear-gradient(bottom,rgba(255,255,255,0),rgba(255,255,255,0.7)); /*Fx 3.6-15*/
          background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.7)); /*Standard*/

          h4 {
            opacity: 1;
          }
        }
      }
    }
  }
}

/* Tablet */
@media (min-width: 768px) {
  .art-gallery > ul > li {
    width: 33.333333%;
  }
}

/* Desktop */
@media (min-width: 992px) {
  .art-gallery > ul > li {
    width: 25%;
  }
}

.lg-sub-html > p {
  color: $grey;
}
.lg-sub-html > h4 {
  color: $white;
}