.container {
  	margin-bottom: 90px;
    padding: 40px 0 36px;
    position: relative;
    border-bottom: 1px solid #ebebeb;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.container:after {
  	content: " ";
  	display: block;
  	clear: both;
}

#logo {
  	font-size: 2em;
 	font-weight: 600;
 	color: black;
  	text-align: center;
  	letter-spacing: 0.075em;
}

.show {
	display: block !important;
}
.main-menu {
	display: margin-top: 50px;
}

.main-menu:after {
	display: block;
    clear: both;
    content: '';
}

.main-menu li:first-child {
	margin-left: 0;
}

.main-menu ul li {
	margin: 0;
	float: left;
	list-style: none;
}

.main-menu-nav a {
  text-small;

}

.text-small {
  font-size: 22px;
}

.text-medium {
  font-size: 22px;

}

.text-large {
  font-size: 22px;
}